<!DOCTYPE html>
<html>

<head>
    <title>Student academic performance</title>
    <link href="{{url_for('static', filename='css/performance.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>
<div id="background-header" style="position:absolute;"></div>

<div id="container">

    <div id="header" style="position:absolute;">

        <img alt="Logo" id="logo" src="{{url_for('static', filename='img/sepa.png')}}"/>

        <ul id="ul-header">
             <li><a    href="/">Home</a></li>
                <li><a class="active" href="students">Students</a></li>

                <li><a href="vis">Visualization</a></li>
                <li><a href="aboutp">About Project</a></li>
        </ul>

    </div>

    <div id="empty"></div>

    <!--  Survey form-->

    <div id="Datasets">

        <div class="content">


            <div id="outside">
                <form action="/students" id="survey-form" method="post">
                 <!--   <h1 id="title">Student academic performance</h1>-->

                {% if error %}

                        <span style="color:red;font-size:20px;margin-top:20px;margin-bottom:20px"> Error: {{error}}</span>


                    {% endif%}


                    <fieldset style=" background: #fffdfeb8;margin-top: 90px;">
                        <div>
                            <label for="Gender">1. Gender :</label>
                            <p>
                                {% for item in gender %}

                                <input checked name="gender" type="radio" value="{{ item['value'] }}" >{{ item['name']}}<br>
                                {% endfor %}

                            </p>
                        </div>
                        <div>
                            <label for="nationality">2. Nationality :</label>
                            <p>

                                <select name="NationalITy" id="dropdown">

                                    {% for item in NationalITy %}
                                    <option value="{{item['value']}}">{{item['name']}}</option>
                                    {% endfor %}

                                </select>
                            </p>
                        </div>

                        <div>
                            <label for="Place of birth">3. Place of birth :</label>
                            <p>
                                <select name="PlaceofBirth" id="dropdown">
                                    {% for item in PlaceofBirth %}
                                    <option value="{{item['value']}}">{{item['name']}}</option>
                                    {% endfor %}


                                </select>
                            </p>
                        </div>
                        <div>
                            <label for="Educational stage">4. Educational stage :</label>
                            <p>
                            <select name="StageID" id="dropdown">
                                {% for item in StageID %}
                                <option value="{{item['value']}}">{{item['name']}}</option>
                                {% endfor %}
                            </select>
                            </p>
                        </div>
                        <div>
                            <label for="Grade level">5. Select your Grade level :</label>
                            <p>
                                <select name="GradeID" id="dropdown">

                                    {% for item in GradeID %}
                                    <option value="{{item['value']}}">{{item['name']}}</option>
                                    {% endfor %}

                                </select>
                            </p>
                        </div>
                        <div>
                            <label for="Semester">6. Enter your school semester : </label>
                            <p>
                                {% for item in Semester %}
                                <input checked name="Semester" type="radio" value="{{item['value']}}">{{item['name']}} <br>
                                {% endfor %}

                            </p>
                        </div>

                        <div>
                            <label for="course">7. Enter your course topic :<label>
                                <p>
                                    <select name="Topic" id="dropdown">

                                        {% for item in Topic %}
                                        <option value="{{item['value']}}">{{item['name']}}</option>
                                        {% endfor %}

                                    </select>
                                </p>
                        </div>


                        <div>

                            <div>
                                <label for="Section ID">8. Which classroom were you in ? </label>
                                <p>
                                    {% for item in SectionID %}
                                    <input checked name="SectionID" type="radio" value="{{item['value']}}">{{item['name']}} <br>
                                    {% endfor %}
                                </p>
                            </div>


                            <div>
                                <label for="participation">9. Did your parent participate in parent survey ?</label>
                                <p>
                                    {% for item in ParentAnsweringSurvey %}
                                    <input checked name="ParentAnsweringSurvey" type="radio" value="{{item['value']}}">{{item['name']}}
                                    <br>
                                    {% endfor %}
                                </p>
                            </div>

                            <div>
                                <label for="Relation">10. Which of your parents is responsible for you??</label>
                                <p>
                                    {% for item in Relation %}
                                    <input checked name="Relation" type="radio" value="{{item['value']}}">{{item['name']}} <br>
                                    {% endfor %}

                                </p>
                            </div>


                            <div>
                                <label for="satisfaction">11. Are your parents satisfied with the school ?</label>
                                <p>
                                    {% for item in ParentschoolSatisfaction %}
                                    <input checked name="ParentschoolSatisfaction" type="radio" value="{{item['value']}}">{{item['name']}}
                                    <br>
                                    {% endfor %}

                                </p>
                            </div>

                            <div>
                                <label for="absent">12. How many days have you been absent ?</label>
                                <p>
                                    {% for item in StudentAbsenceDays %}
                                    <input checked name="StudentAbsenceDays" type="radio" value="{{item['value']}}">{{item['name']}}
                                    <br>
                                    {% endfor %}

                                </p>
                            </div>
                            <div>
                                <label for="VisITedResources ">13. how many times the student visits a course content ?
                                    (0-100)</label>
                            </div>
                            <div>
                                <p>
                                    <input name="VisITedResources" max="100" min="1" type="number">
                                </p>

                            </div>

                            <div>
                                <label for=AnnouncementsView>14. How many times did you check the
                                    announcements ? (0-100)</label>
                            </div>
                            <div>
                                <p>
                                    <input name="AnnouncementsView" max="100" min="1" type="number">
                                </p>
                            </div>

                            <div>
                                <label for="raisedhands ">15. How many times do you usually raise your hand in each
                                    lecture ? (0-100)</label>
                            </div>
                            <div>
                                <p>
                                    <input name="raisedhands" max="100" min="1" type="number">
                                </p>
                            </div>

                            <div>
                                 <label for=Discussion>16. How many times did you participate in a discussion groups ?
                                    (0-100)</label>
                            </div>
                            <div>
                                <p>
                                    <input name="Discussion" max="100" min="1" type="number">
                                </p>
                            </div>
                                <script>
                                   <div>
                                      $(function(){
                                      var $select = $(".1-100");
                                      for (i=1;i<=100;i++){
                                      $select.append($('<option></option>').val(i).html(i))
                                      }
                                      });​
                                   </div>

                                </script>
                    </fieldset>
                    <!-- ------------------Checkboxes-------------------------------- -->
                    <div id="submitbutton">
                        <button id="submit" type="submit" style="/*position: absolute*/;display: block;width: 200px;left: 70%; /* Padding and margins */
                                bottom: 30%; margin-top: 50px; margin-left: auto; margin-right: auto; font-size: 20px;padding: 30px 30px;
                                border-radius: 10px; background: rgba(119,205,119,0.63); color: black; border: 2px solid #000c; " >Lets Predict
                        </button>
                    </div>


                </form>
            </div>


        </div>


    </div>
    <!--  Footer and icons -->

<div id="background-footer-hidden">

        <div class="footer">
            <p>Please contact Orchid group at Orchid.group@gmail.com with problems or questions about this web page.</p>
            <p>DISCLAIMER: <em>Student academic performance</em> </p>
            <p>&copy; 2020 Student performance. All Rights Reserved.</p>
        </div>

    </div>

    <div id="background-footer">
<a href="https://github.com/Mohaimn94/LA-ProjectSEPA"><img src="static/img/g23.png" alt="GitHub"></a>
<a href="https://www.youtube.com/watch?v=gITrFJQYhfc&feature=youtu.be"> <img src="static/img/youtubei.png" alt="GitHub"> </a>
        <div class="footer">
            <p>Please contact Orchid group at Orchid.group@gmail.com with problems or questions about this web page.</p>
            <p>DISCLAIMER: <em>Student academic performance</em> </p>
            <p>&copy; 2020 Student performance. All Rights Reserved.</p>
        </div>

    </div>
    </div>

</body>

</html>
